<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OteliniBul"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- Giriş yapma sayfası bildirildi -->
        <activity android:name=".GirisYapSayfasi" />
        <!-- Kaydolma sayfası bildirildi -->
        <activity android:name=".KaydolmaSayfasi"
            android:exported="true"/>
        <!-- Anasayfa bildirildi -->
        <activity android:name=".Anasayfa"
            android:exported="true"/>
        <!-- Profil sayfası bildirildi -->
        <activity android:name=".Profil"
            android:exported="true"/>
        <!-- Favoriler sayfası bildirildi -->
        <activity android:name=".Favoriler"
            android:exported="true"/>
        <!-- Seyahatler sayfası bildirildi -->
        <activity android:name=".Seyahatler"
            android:exported="true"/>
        <!-- OtelArama sayfası bildirildi -->
        <activity android:name=".OtelArama"
            android:exported="true"/>
        <!-- OtelSec sayfası bildirildi -->
        <activity android:name=".OtelSec"
            android:exported="true"/>
        <!-- SosyalMedya sayfası bildirildi -->
        <activity android:name=".SosyalMedya"
            android:exported="true"/>
        <!-- Hakkımızda sayfası bildirildi -->
        <activity android:name=".Hakkimizda"
            android:exported="true"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>